 :root {
  --background1: rgb(81, 90, 110);
  --color1: rgba(255, 255, 255, 0.85);
  --background2: #363e4f;
  --color2: rgba(255, 255, 255, 0.5);
  /*
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
} 

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
	/* line-height: 1; */
  overflow: hidden;
}

#app {
  height: 100vh; 
  display: flex; 
  flex-direction: column;
}